@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Raleway", sans-serif;
}

.navLink svg {
  fill: black;
}

.navLink:hover svg,
.navLink-active svg {
  fill: #82e460;
}

.navLink:hover p,
.navLink-active p {
  color: #82e460;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
}

.tableRemoveButton {
  color: #e31837;
}

.tableRemoveButton:hover {
  color: #c21a34;
}

.bgGreenOnHover {
  background-color: #82e460;
}

.bgGreenOnHover:hover {
  background-color: #5ace33;
}

.blueOnHover:hover {
  color: #00b8ff;
}

.plusIconHover {
  fill: #82e460;
  outline-color: #82e460;
}

.plusIconHover:hover {
  background-color: #82e460;
  outline-color: #82e460;
  fill: white;
}

.icon--hoverRed:hover {
  fill: #e31837;
}

.icon--hoverGreen:hover {
  fill: #82e460;
}
